<h1>New User</h1>

<% if @user.errors.any? %>
  <div style="color: red; border: 1px solid red; padding: 10px; margin-bottom: 10px;">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%# <p>Find me in app/views/users/new.html.erb</p> %>
<form accept-charset="UTF-8" action="/users" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="username">Username:</label>
  <input id="username" name="user[username]" type="text" /><br><br>
  <label for="email">Email:</label>
  <input id="email" name="user[email]" type="email" /><br><br>
  <label for="password">Password:</label>
  <input id="password" name="user[password]" type="password" /><br><br>
  <input type="submit" value="Submit">
</form>